<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745452205085-rn0p44ede6p0nparl7en8gaorc1m9po3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745452205085-rn0p44ede6p0nparl7en8gaorc1m9po3</string>
	<key>API_KEY</key>
	<string>AIzaSyBX3-F9jhLqP-bjyDVu6Xow4cBaPblp8Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>745452205085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orihalcon.LightningGame</string>
	<key>PROJECT_ID</key>
	<string>lightninggame-50cc9</string>
	<key>STORAGE_BUCKET</key>
	<string>lightninggame-50cc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745452205085:ios:92d316804575a2a77b02f4</string>
	<key>DATABASE_URL</key>
	<string>https://lightninggame-50cc9.firebaseio.com</string>
</dict>
</plist>